<div class="bannerclassement" style="background-image: url(<%= image_path('background.jpg') %>)">
  <div class="contourclassement">
    <br>
    <%= link_to "<Retour", root_path, :class => "linkretour" %>
    <br>
    <br>
  </div>
  <br>
  <br>
  <div class="linkclassement">
    <br>
    <u><p>Comment est fait le classement ?</p></u>
    <p>Avec des points et un multiplicateur</p>
    <p>1 pari gagné = 10 pts x (nb de jours entre date du pari et date de la réponse)</p>
    <p>Ex: je gagne un pari publié le 10/05 et dont l'échéance est le 15/05 > je gagne 10 pts x (15-10)</p>
    <br>
    <br>
    <u><p>Nombre de parieurs au <%= Date.today.strftime('%d/%m') %> : 312</p></u>
    <pre><strong> Rang</strong>                <strong>Nb points</strong>                <strong>Pseudo Insta</strong></pre>
  </div>
  <% @users.each do |user| %>
    <ul>
        <%= user.ranking %>
        <%= user.wins %>
        <%= user.pseudo[0..27] %>
    </ul>
  <% end %>
</div>
