<div class="bannerhome" style="background-image: url(<%= image_path('background.jpg') %>)">
  <div class="containerhome">
    <%= link_to "Classement général", classement_path, :class => "btn btn-flat-first-home" %>
    <br>
    <br>
    <br>
    <div class="linkhome">
    <p>Pour connaître ton classement, rentre ton</p>
    </div>
    <form action="/monclassement" method="post" >
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :users, @users %>
      <div class="formhome">
        <input type="text" name="word" placeholder="Pseudo Insta complet"  class="form-control is-invalid" id="validationServer03" aria-describedby="validationServer03Feedback" required>
        <input type="submit" value="Entrer" class="btn btn-outline-light" >
      </div>
    </form>
    <br>
    <br>
    <p>⏳<%= link_to "Calendrier des paris", calendrier_path, :class => "btn-calendrier" %>⏳</p>
    <br>
    <br>
    <a href="https://www.instagram.com/betstock_"><i class="fa-brands fa-instagram fa-4x"></i></a>
  </div>
</div>
